<div class="medium-list">
    <div class="list-viewer-wrapper">
      <div class="list-header-title"><strong>REGISTRARSE</strong></div>
      <form class="example-form" [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit()" novalidate>
        <div class="form-container">
          <mat-form-field class="example-full-width">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput formControlName="name"
                   [(ngModel)]="user.name">
            <mat-hint>¡Los errores aparecerán instantáneamente!</mat-hint>
            <mat-error *ngIf="registerForm.controls['name'].hasError('required')">
              El nombre de usuario es<strong> obligatorio</strong>
            </mat-error>
            <mat-error  *ngIf="registerForm.controls['name'].hasError('minlength')">
              El nombre de usuario debe tener al <strong>menos 3 carácteres.</strong> 
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <mat-label>Contraseña</mat-label>
              <input id="password"
                     matInput
                     formControlName="password"
                     [(ngModel)]="user.password"
                     [type]="hide ? 'password':'text'" />
                <mat-icon matSuffix (click)="hide = !hide">
                  {{hide ? 'visibility' : 'visibility_off'}}
                </mat-icon>
                <mat-hint>¡Los errores aparecerán instantáneamente!</mat-hint>
                <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                  La contraseña es<strong> obligatoria</strong>
                </mat-error>
                <mat-error  *ngIf="registerForm.controls['password'].hasError('minlength')">
                  La contraseña debe tener al <strong>menos 6 carácteres.</strong> 
                </mat-error>
                <mat-error  *ngIf="registerForm.controls['password'].hasError('maxlength')">
                  La contraseña debe tener <strong>máximo 30 carácteres.</strong> 
                </mat-error>
            </mat-form-field>
            <br>

            <button mat-button type="submit" 
                    class="mat-raised-button mat-primary" 
                    [disabled]="!registerForm.valid">Crear cuenta
            </button>
        </div>
      </form>
    </div>
</div>